* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0079BF;
    font-family: 'Lato', sans-serif;
}

.navbar {
    padding: .2rem 1rem !important;
    background: #026aa7;
}

.nav-item {
  color: #F6F6F6;
}

.tittle {
    font-weight: bold;
}

.logo {
    background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/trello-header-logos/af7af6ed478d3460709d715d9b3f74a4/trello-logo-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
    position: relative;
    display: flex;
}

.trello {
    position: absolute;
}

.icon-box {
    background-color: #569BC4;
    color: #F6F6F6;
  
}

.icon-box:hover {
    background-color: #569BC4;
    color: #F6F6F6;
    justify-content: center;
}

.fa-search {
    margin-left: -30px;
    position: relative;
    color: #fff;
}

.form-control {
   border-radius:5px;
   border: none;
   background: #569BC4;
}

.fa-search:hover {
    color:#F6F6F6;
}

.btn-outline-success {
    color: #F6F6F6;
    border:none;
    background: #569BC4;
}

.btn-outline-success:hover {
    background: rgb(14, 130, 197);
}

.fa-trello {
    padding-right: 3px;
}
.fa-trello:hover {
    background-color: #798d99;
}

.fa-star {
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
    color: #F6F6F6;
    cursor: pointer;
}

#containerAdd {
    /*position: absolute;*/
    display: inline-block;
    border-radius: 3px;
    margin-top: 20px;
    padding: 20px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 15px;
}

#AddList {
    display: inline-block;
}

#btnList {
    background-color: #0067A3;
    color: #F6F6F6;
    border: none;
    margin-top: -10px;
    width: 40vh;
    height: 6vh;
    border-radius: 5px;
    cursor: pointer;
}

#value {
    background: #ffff;
    border-radius: 3px;
    width: 200px;
    height: 40px;
}

#btn {
    background-color: #8BC34A;
    color: white;
    border: none;
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
    width: 20vh;
    height: 5vh;
    border-radius: 5px;
}

.fa {
    color: #999;
    margin-top: 17px;
    margin-left: 135px;
    display: flex;
    cursor: pointer;
}

#cerrar {
    background-color: transparent;
    border: none;
    color: #999;
    width: 2vh;
    margin-left: 160px;
    display: none;
}

.new-board {
    float: left;
    border-radius: 3px;
    margin-top: 20px;
    padding: 20px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: rgb(226, 228, 230);
}

#btn1 {
    background-color: #8BC34A;
    color: white;
    position: absolute;
    border: none;
    margin-left: -170px;
    margin-top: 65px;
    text-align: center;
    border-radius: 5px;
    width: 20vh;
    height: 5vh;
    cursor: context-menu;
}

.item {
    background-color: white;
    color: #4D4D4D;
    padding: 7px;
    border-radius: 3px;
    text-align: left;
    word-wrap: break-word;
    margin-bottom: 7px;
}

#tarjeta {
    background-color: rgb(226, 228, 230);
    border: transparent;
    cursor: pointer;
}
